body div{
    font-size: 16px;
    /*background-color: floralwhite;*/
    /*font-family: 'Raleway, Arial';*/
}
html {
    /*font-size: 62.5%; !* 62.5% of 16px = 10px *!*/
    /*font-family: 'Raleway, Arial';*/
}

